.card {
	z-index: 1;
	box-shadow: $box-shadow;
}

.download-container {
	.content {
		max-height: 38.5rem;
		overflow-y: scroll;
	}
}

.g-box {
	width:3.75rem;
	height: 3.75rem;
    margin:0 auto;
    background: url("/assets/images/box-1.svg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
    	font-size:1.6rem;
    	font-weight: bold;
    }
}

.g-box-2 {
	background: url("/assets/images/box-2.svg") ;
}

.g-box-3 {
	background: url("/assets/images/box-3.svg") ;
}