.loader {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border-top: 5px solid white;
  animation: loop 1s infinite;
  margin:0 auto;
  margin-top:$spacer*2;

}

@keyframes loop {
  0% {
    transform: rotate(-360deg);
    border-top: 3px solid #6734FF;
  }
  30% {
        border-top: 5px solid #05BAEE;

  }
  50% {  border-top: 6px solid #05BAEE;
  }
    70% {
        border-top: 5px solid #6734FF;

  }
    100% {
    transform: rotate(360deg);
     border-top: 3px solid #6734FF;

  }
}