.wrapper {
    position: relative;
    overflow: hidden;
}

section {
    padding: 6rem 0;
}

.bg {
    position: absolute;
    z-index: -1;
}

.bg-1 {
    top: -501px;
    left: -590px;
    width: 1510px;
}

.bg-2 {
    top: -10%;
    right: -310px;
    width: 1670px;
}

.bg-3 {
    top: 1081px;
    left: 70px;
    width: 232px;
}

.bg-4 {
    top: 1241px;
    left: -430px;
    width: 2540px;
}

.bg-5 {
    bottom: 1791px;
    right: 200px;
    width: 260px;
}

.bg-6 {
    bottom: -290px;
    right: -21%;
    width: 200%;
}

.bg-7 {
    bottom: 100px;
    left: 20px;
    width: 100px;
}

.sect-examples {
    hr {
        border-color: $gray-700;
    }
}

.preview {
    color: $dark;
    a {
        color:$dark;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: $preview-heading-margin;
        color: $dark;
    }

    .highlight {
        padding: $preview-padding;
        background: $preview-bg;
        color: $preview-color;
    }
}



.sect-live {

    @extend .preview;

}

.blog-container {
    @extend .preview;

    h1:first-child {
        margin-top: 0;
    }

    img {
        margin-bottom: 2rem;
    }
    a {
        color:$primary;
    }
}

.checkout-page,
.article-page {
        color:$dark;
        background: $white;
        h3{
            color:$dark;
        }
        header {
            background-color:$dark;
        }
}

@media only screen and (max-device-width: 1600px) {
    .bg-2 {
        display: none;
    }
}

