

section {
    padding: 6rem 0;
}



.bg {
    position: absolute;
}

.sect-about {
    position: relative;

    .bg-1 {
        top: 42%;
        right: 29px;
    }

    .bg-2 {
        left: -150px;
        top: 36%;
    }
}

.sect-generators {
    position: relative;

    .g-bg-1 {
        top: 20%;
        right: 87%;
    }

    .g-bg-2 {
        top: 60%;
        left: 4%;
    }

    .g-bg-3 {
        top: 10%;
        right: 3%;
    }

    .g-bg-4 {
        bottom: 10%;
        right: 11%;
    }
}

.sect-preview {
    position: relative;

    .p-bg-1 {
        top: 20%;
        left: 15%;
    }

    .p-bg-2 {
        top: 60%;
        right: 17%;
    }
}

.preview {
    h1, h2, h3, h4, h5, h6 {
        margin-top: $preview-heading-margin;
    }

    .highlight {
        padding: $preview-padding;
        background: $preview-bg;
        color: d $preview-color;
    }
}

.sect-live {
    @extend .preview;
}

.blog-container {
    @extend .preview;

    h1:first-child {
        margin-top: 0;
    }

    img {
        margin-bottom: 2rem;
    }
}